body {
    margin: 0;
}
.header {
    height: 581px;
    background-image: url("Public/Header.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.navigation {
    display: flex;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
}



.navigation__link_first {
    margin-right: auto;
}

.navigation__link {
    margin-right: 50px;
    color: #2E2F22;
    text-decoration: none;
    transition: color 0.3s;
}

.navigation__link:hover {
    color: #e2ec4e;
}

.navigation__link:last-child {
    margin-right: 0;
}


.box-little{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;

}
.article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    width: 387px;
}

.article img{
    height: 268px;
}

.box-little_img{
    border:black;
    border-radius:5%;
}



.box-large{
    width: 1200px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    margin: 0 auto;
    }

.box-large p,
.box-large h2{
    width: 80%;
    margin: 0 auto;
    
    color: #FFFFFF;
    }

.article-foto{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    align-content:flex-end;
    width: 49%;        height: 552px;
    background-image: url("Public/foto.png");
    border-radius:2%;
}
    

.article-cheese{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    align-content:flex-end;
    width: 49%;        height: 552px;
    background-image: url("Public/cheese.png");
    border-radius:2%;
}


.bottom-show-more{
    display: flex;
    margin: 116px auto;
    align-items: center;
}

.zagolovok{
    display: flex;
    width: 1200px;
    margin: 0 auto;
    align-items: center;
   }

.zagolovok h1{
    margin:auto;
}


.about-me{
        display: flex;
        width: 1200px;
        margin: 0 auto;
        align-items: center;
}

.about-me-text{
    display:flex;
    flex-direction:column; 
    align-items:center;/*почему то это свойство влияет только на текст без тега,
                        хотя на это должен влиять align-content.. непонятно*/
}

.quote{
   font-style: italic;
   
   font-size:xx-large;
}

.portfolio{
    display: flex;
    width: 1200px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
    
}

.academy{
    background-image: url("Public/academy.png");
    height: 525px;
    width: 20%;
    border-radius: 5%;
}

.lnk{
    background-image: url("Public/kiss.png");
    height: 525px;
    width: 20%;
    border-radius: 5%;
    color:white;
}

.magazine{
    background-image: url("Public/magazine.png");
    height: 525px;
    width: 20%;
    border-radius: 5%;
}
footer{
    width: 1200px;
    margin: 0 auto;
}

.choose-theme-container{
    display:flex;
    align-items:center;
    background-size:cover;
    margin: 0 auto;
    padding-top: 83px;
    width: 1200px;
}

.choose-theme-title{
margin:0 auto;

}

h1.choose-theme-title{
    margin-left: 0px;
    
}

input.choose-theme-title{
    margin-right: 0;
}

.choose-theme{
    margin-top: 0;
    
}




.contacts{
    display: flex;
    align-items: center;
    /*margin: 0 auto;*/
    background-size: cover;
    background-color: #D7D1C9;
    height: 181px;
}

.contacts__link{
    margin:0 auto;
    color: #2E2F22;
    transition: color 0.3s;
    text-decoration: none;
}   

.contacts__link:first-child{
    margin-left: 25%;
}

.contacts__link:last-child{
    margin-right: 25%;
}