body {
    margin: 0;
    
}
.header {
    height: 581px;
    background-image: url("Public/Header.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.navigation {
    display: flex;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
}



.navigation__link_first {
    margin-right: auto;
}

.navigation__link {
    margin-right: 50px;
    color: #2E2F22;
    text-decoration: none;
    transition: color 0.3s;
}

.navigation__link:hover {
    color: #e2ec4e;
}

.navigation__link:last-child {
    margin-right: 0;
}


.box-little{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;

}
.article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    width: 387px;
}

.article img{
    height: 268px;
}

.box-little_img{
    border:black;
    border-radius:5%;
}



.box-large{
    width: 1200px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    margin: 0 auto;
    }

.box-large p,
.box-large h2{
    width: 80%;
    margin: 0 auto;
    
    color: #FFFFFF;
    }

.article-foto{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    align-content:flex-end;
    width: 49%;        
    height: 552px;
    background-image: url("Public/foto.png");
    border-radius:2%;
}
    

.article-cheese{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    align-content:flex-end;
    width: 49%;        height: 552px;
    background-image: url("Public/cheese.png");
    border-radius:2%;
}


.bottom-show-more{
    display: flex;
    margin: 116px auto;
    width: 224px;
    height: 46px;
    border-radius: 10px;
    font-size: larger;
    color: rgba(0, 0, 0, 1);
    justify-content: center;
}

.zagolovok{
    display: flex;
    width: 1200px;
    margin: 0 auto;
    align-items: center;
   }

.zagolovok h1{
    margin:auto;
}


.about-me{
        display: flex;
        width: 1200px;
        margin: 0 auto;
        align-items: center;
}

.about-me-text{
    display:flex;
    flex-direction:column; 
    align-items:center;
    margin-left:10px;
}

.quote{
   font-style: italic;
   
   font-size:xx-large;
}

.portfolio{
    display: flex; 
    text-align: center;
    width: 1200px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;    
}

 .portfolio__item{
    max-height: 525px;   
    height: 525px;
    width: 387px;
    border-radius: 5%;
    word-wrap: break-word;
}

/* .portfolio__item:nth-child(n){
    margin: 10px;
} */

.portfolio__item h1{
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
}

.portfolio__item h2{
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.portfolio__item p{
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
}


.academy{
    background-image: url("Public/academy.png");
}

.lnk{
    background-image: url("Public/kiss.png");
    color:white;
}

.magazine{
    background-image: url("Public/magazine.png");
}

footer{
    width: 1200px;
    margin: 0 auto;
}

.choose-theme-nav{
    width: 203px;
    height: 46px;
    background-color: #D7D1C9; 
    text-align: center;
    margin-bottom: 20px;
    border-radius: 10px;
    color: black;
}

.choose-theme-container{
    display:flex;
    align-items:center;
    background-size:cover;
    margin: 0 auto;
    padding-top: 83px;
    width: 1200px;
}

.choose-theme-title{
margin:0 auto;

}

h1.choose-theme-title{
    margin-left: 0px;
    
}

input.choose-theme-title{
    margin-right: 0;
}

.choose-theme{
    margin-top: 0;
    
}

.Feedback{
    background-image: url("Public/feedback.png");
    display: flex;
    flex-direction:column;
    /* align-items: center; */
    /* justify-content: space-between; */
    height: 670px;
    width: 1200px;
    background-size: cover;
    margin:0 auto;
    border-radius: 20px;
    margin-bottom: 50px;
}

.name-email{
    display: flex;
    flex-direction:row;
}
    

.feedback__input{
    width: 407px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    margin-left: 10%;
    margin-right: 10%;  
}

.feedback__input input{
    height: 63px;
    border-radius: 10px;
    opacity: .5;
}

.message__input{
    width:80%;
    margin-left: 10%;
    margin-right: 10%;
}

.message__input textarea{
    height: 293px;
    width: 100%;
    opacity: .5;
    border-radius: 10px;
}

.send_button{
    width: 224px;
    height: 46px;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    opacity: .5;
    border: 2px solid rgba(0, 0, 0, 1);
    font-size: larger;
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
}

.send_button:active{
    opacity: 1;
}




.contacts{
    display: flex;
    align-items: center;
    background-size: cover;
    background-color: #D7D1C9;
    height: 181px;
}

.contacts__link{
    margin:0 auto;
    color: #2E2F22;
    transition: color 0.3s;
    text-decoration: none;
}   

.contacts__link:first-child{
    margin-left: 25%;
}

.contacts__link:last-child{
    margin-right: 25%;
}
